PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE `bookings` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`property_id` integer NOT NULL,
	`source` text NOT NULL,
	`external_id` text,
	`guest_name` text,
	`check_in` text NOT NULL,
	`check_out` text NOT NULL,
	`nights` integer NOT NULL,
	`payout_idr` integer NOT NULL,
	`created_at` text NOT NULL,
	FOREIGN KEY (`property_id`) REFERENCES `properties`(`id`) ON UPDATE no action ON DELETE no action
);
INSERT INTO bookings VALUES(6,4,'airbnb','HMW8YZ3RFC','Nor Arinah Samsuddin','2026-07-03','2026-07-05',2,1453884,'2026-07-02T03:44:12.424Z');
INSERT INTO bookings VALUES(7,2,'airbnb','HMERBC93YB','Muhammad Zuhairi','2026-06-25','2026-07-06',11,4502446,'2026-07-02T03:44:12.425Z');
INSERT INTO bookings VALUES(8,3,'airbnb','HMK3CJAHXK','Onn Ying Jia','2026-06-20','2026-06-21',1,408836,'2026-07-02T03:44:12.425Z');
CREATE TABLE `properties` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	`name` text NOT NULL,
	`owner_id` integer,
	`commission_pct` real DEFAULT 20 NOT NULL,
	FOREIGN KEY (`owner_id`) REFERENCES `users`(`id`) ON UPDATE no action ON DELETE no action
);
INSERT INTO properties VALUES(2,'Citra Plaza 37-16',3,20.0);
INSERT INTO properties VALUES(3,'Citra Plaza 32-05',5,20.0);
INSERT INTO properties VALUES(4,'One Residence AK-20',4,20.0);
CREATE TABLE `users` (
	`id` integer PRIMARY KEY AUTOINCREMENT NOT NULL,
	"username" text NOT NULL,
	`password_hash` text NOT NULL,
	`name` text NOT NULL,
	`role` text NOT NULL
);
INSERT INTO users VALUES(1,'admin','$2b$10$ZBJrm55ZdtvUoC6G4XZqx.c14PdH6YzR8fZzUKf9A5lG8888KPnre','Admin','admin');
INSERT INTO users VALUES(3,'censi','$2b$10$UwWOX.4089c311RxHbwiHuO8mfbSKSJtYuawLU2aXC44bVT3aeJLu','Ko Censi','owner');
INSERT INTO users VALUES(4,'harry','$2b$10$APwma4n46ZC0ttRXxYBwkOsKA.GH.ODMTHX9I4K6nAPARoJBwRzU2','Pak Harry','owner');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',6);
INSERT INTO sqlite_sequence VALUES('properties',5);
INSERT INTO sqlite_sequence VALUES('bookings',42);
CREATE UNIQUE INDEX `bookings_source_external_id` ON `bookings` (`source`,`external_id`);
CREATE UNIQUE INDEX `users_email_unique` ON `users` ("username");
COMMIT;
